# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.DS_Store
*.classpath
/laboratoare/SURSE_FINAL/LAB3/.idea/.name
*.name
*.project
*.eclipse.core.resources.prefs
*.eclipse.jdt.core.prefs
*.eclipse.m2e.core.prefs
*.DS_Store
*.bin
*.lock
/awbd/.gradle/buildOutputCleanup/cache.properties
/awbd/.gradle/6.8.3/gc.properties
/awbd/.gradle/configuration-cache/gc.properties

**/*.DS_Store
