<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
            <th>Reserved price</th>
            <th>Info</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tr th:each="product, stat : ${products}"
            th:class="${stat.odd}? 'table-light':'table-dark'"
                >
            <td th:text="${product.id}">1</td>
            <td th:text="${product.name}">Product 1</td>
            <td th:text="${product.code}">Code</td>
            <td th:text="${product.reservePrice}">Reserved price</td>
            <td><a href="#" th:href="@{'/product/info/' + ${product.id}}">Info</a></td>
            <td><a href="#" th:href="@{'/product/delete/' + ${product.id}}">Delete</a></td>
        </tr>
    </table>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary" role="button" th:href="@{'/product/new'}">add product</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary" role="button" th:href="@{'/participant/new'}">register</a>
        </div>
    </div>
</div>
</body>
</html>