<!DOCTYPE html>
<html>
<title>Shop</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <style>
.round{
    z-index:999;

    margin:1 20 -20 20;
    width:181px;
    border-radius:10px;
}
</style>
</head>

<body>

<div class="w3-container w3-teal">
    <h1>Shop</h1>
</div>

<div class="w3-row-padding w3-margin-top">
    <div class="w3-third">
        <div class="w3-card">
            <img src="https://sanet.pics/storage-6/0520/B0fHwChMwZcPsDmFiqllQkzWjBpsTUCe.png" style="width:100%">
            <div class="w3-container">
                <form action="/cart">
                    <input class="round" type="submit" value="Buy" />
                </form>
                <h5>JSA</h5>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/81rAZbzfEyL._AC_SL1500_.jpg" style="width:100%">
            <div class="w3-container">
                <form action="/cart">
                    <input class="round" type="submit" value="Buy" />
                </form>
                <h5>Ong Bak</h5>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card">
            <img src="https://static.cinemagia.ro/img/db/movie/58/95/46/new-world-820674l.jpg" style="width:100%">
            <div class="w3-container">
                <form action="/cart">
                    <input class="round" type="submit" value="Buy" />
                </form>
                <h5>New World</h5>
            </div>
        </div>
    </div>
</div>

<div class="w3-row-padding w3-margin-top">
    <div class="w3-third">
        <div class="w3-card">
            <img src="https://flxt.tmsimg.com/assets/p13225986_p_v8_aw.jpg" style="width:100%">
            <div class="w3-container">
                <form action="/cart">
                    <input class="round" type="submit" value="Buy" />
                </form>
                <h5>Shin Godzilla</h5>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card">
            <img src="https://m.media-amazon.com/images/I/51xpQ1s+2IL.jpg" style="width:100%">
            <div class="w3-container">
                <form action="/cart">
                    <input class="round" type="submit" value="Buy" />
                </form>
                <h5>Possession</h5>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card">
            <img src="https://anatomyofascream.files.wordpress.com/2016/06/the-wailing.jpg" style="width:100%">
            <div class="w3-container">
                <form action="/cart">
                    <input class="round" type="submit" value="Buy" />
                </form>
                <h5>The Wailing</h5>
            </div>
        </div>
    </div>
</div>

</body>
</html>
